<!-- Amado Nav -->
<nav class="amado-nav">
    <ul>
        <li class="active"><a href="/">Главная</a></li>
        <li><a href="/recipes">Рецепты</a></li>
        <li><a href="/">Статистика</a></li>
        <li><a href="/">Product</a></li>
    </ul>
</nav>