<div class="shop_sidebar_area">

    <!-- ##### Single Widget ##### -->
    <div class="widget catagory mb-50">

        <!-- Widget Title -->
        <h6 class="widget-title mb-1">Первые блюда</h6>
        <!--  Catagories  -->
        <div class="catagories-menu">
            <ul>
                <li class="active"><a href="/category/1">Супы</a></li>
                <li><a href="#">Борщи</a></li>
                <li><a href="#">Окрошка</a></li>
                <li><a href="#">Щи</a></li>
                <li><a href="#">Харчо</a></li>
            </ul>
        </div>

        <!-- Widget Title -->
        <h6 class="widget-title mb-1">Вторые блюда</h6>
        <!--  Catagories  -->
        <div class="catagories-menu">
            <ul>
                <li class="active"><a href="#">Блюда из яиц</a></li>
                <li><a href="#">Шницель</a></li>
                <li><a href="#">Бефстроганов</a></li>
                <li><a href="#">Биточки</a></li>
                <li><a href="#">Голубцы</a></li>
            </ul>
        </div>

        <h6 class="widget-title mb-1">Выпечка</h6>
        <!--  Catagories  -->
        <div class="catagories-menu">
            <ul>
                <li class="active"><a href="#">Блины и оладьи</a></li>
                <li><a href="#">Булочки</a></li>
                <li><a href="#">Пирожки</a></li>
                <li><a href="#">Пицца</a></li>
                <li><a href="#">Сырники</a></li>
            </ul>
        </div>


        <h6 class="widget-title mb-1">Напитки</h6>
        <!--  Catagories  -->
        <div class="catagories-menu">
            <ul>
                <li class="active"><a href="#">Первые блюда</a></li>
                <li><a href="#">Вторые блюда</a></li>
                <li><a href="#">Закуски</a></li>
                <li><a href="#">Выпечка</a></li>
                <li><a href="#">Напитки</a></li>
            </ul>
        </div>


    </div>


    <!-- ##### Single Widget ##### -->
    <div class="widget price mb-50">
    </div>
</div>